html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    width: 100%;
    padding: 0px;
    overflow-x: hidden;
}

#colorblock{
    position: relative;
    height: 150px;
    width: auto;
    min-width: 100%;
    min-height: 100%;
    margin: auto;
}

#intro {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#intro #text {
    position: absolute;
    float: left;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#intro #image {
    position: absolute;
    display: block;
    margin-top: -50px;
    margin-left: 600px;
    margin-right: auto;
    float: right;
    width: 100%;
}

#projects {
    clear: both;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 400px;
}

.project {
    overflow: hidden;
    
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: rgb(241, 230, 215);
}
 
#project2 {
    background-color: rgb(208, 210, 228);
}

#project3 {
    background-color: rgb(219, 240, 217);
}

.image {
    float: left;
    display: block;
    width: 40%;
    border: 1px solid black;
}

.text {
    width: 560px;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

.button{
    width: 120px;
    margin-left: 30px;
    margin-right: auto;

    transition-duration: 0.3s;
    color: black;
    border: 1px solid black;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 8px;
    font-size: 16px;
}

.button:hover{
    background-color: #4CAF50;
    color: white;
}

/* Style all font awesome icons */
.fa {
    padding: 15px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
  
/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    margin-left: 40px;
    background: #45a6f0;
    color: white;
}

.fa-facebook {
    background: #0a3eeb;
    color: white;
}

.fa-instagram {
    background: #90ee24;
    color: white;
}

.fa-youtube {
    
    background: #ff0707;
    color: white;
}


#example {
    clear: both;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#email {
    margin: auto;
    width: 200px;

}

#contact {
    text-decoration: none;
    color: black;
}

#contact:hover {
    color: blue;
}
